<!DOCTYPE HTML>
 {include file="public/_meta"}
<![endif]-->
<title>活动列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 秒杀管理 <span class="c-gray en">&gt;</span> 活动列表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
	    日期范围：
		<input type="text" onfocus="WdatePicker({ maxDate:'#F{ $dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin"  name="logmin" class="input-text Wdate" style="width:120px;">
		-
		<input type="text" onfocus="WdatePicker({ minDate:'#F{ $dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" name="logmax" class="input-text Wdate" style="width:120px;">

		<button   id="search_btn" class="btn btn-success "  ><i class="Hui-iconfont">&#xe665;</i> 搜活动</button>
	</div>

	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;"  class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
	</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th width="15"><input type="checkbox" name="" value=""></th>
					<th width="60">ID</th>
					<th width="150">活动名称</th>
					<th width="150">商品名称</th>
					<th width="100">用户名</th>
					<th width="60">电话</th>
					<th width="50">数量</th>
					<th width="150">订单价格</th>
					<th width="150">商品详情</th>
					<th width="60">创建时间</th>
					<th width="60">用户ip</th>
					<th width="60">状态</th>
					<th width="60">用户操作</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
			{volist name="orderRes" id="vo"}
				<tr class="text-c">

					<td><input type="checkbox"  class="checked" value="{$vo.id}" name="id[]"></td>
					<td>{$vo.id}</td>
					<td>{$vo.title}</td>
					<td>{$vo.name}</td>
					<td>{$vo.username}</td>
					<td>{$vo.phone}</td>
					<td>单品：{$vo.num_total}|种类数：{$vo.num_goods}</td>
					<td>原价：{$vo.price_normal}|秒杀价：{$vo.price_discount}</td>
					<td>确认：{$vo.price_normal}|支付：{$vo.time_pay}|过期:{$vo.time_over}|取消:{$vo.cancel}</td>
					<td> {$vo.goods_info}</td>
					<td> {$vo.ip}</td>
					<td> {$vo.create_order_time}</td>
					<td class="td-status"> {$vo.status|orderStatus} </td>
					<td class="f-14 td-manage" data-id="{$vo.id}">{$vo.status|edit_status}&nbsp;&nbsp;<a data-href="{:url('Active/edit',array( 'id'=>$vo['id']))}" onclick="Hui_admin_tab(this)" data-title="编辑活动" href="javascript:void(0)"><i class="Hui-iconfont"></i> </a> <a style="text-decoration:none" class="ml-5"  onClick='del(this,"{$vo.id}" )' href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
				</tr>
             {/volist}
			</tbody>
		</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
 {include file="public/_footer"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__HUI__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__HUI__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__HUI__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
//搜索
$("#search_btn").click(function () {
    var model_id = $("#search_model option:selected").val();
    var logmin = $("#logmin").val();
    var logmax = $("#logmax").val();
    var search_title =$("#search_title").val();

    if (model_id==0 && logmax==""&&logmin == ""&&search_title=="") {
        layer.msg( "搜索条件不能全为空！",{icon:2,time:2000});
        return;
    }
   var  sql ="?model_id="+ model_id+"&logmin="+logmin + "&logmax="+logmax + "&logmax="+logmax + "&title=" +search_title;
    alert(sql);
    window.location.href="{:url('Content/search')}" +sql;

});

    //批量删除
    $(".btn-danger").click(function () {
        var arr =new Array();

        $("input[name='id[]']:checked").each(function (i,v) {

            var id =$(this).val();

             arr[i]=[id];

        })
        if (arr.length<=0){
            layer.msg( "请正确选择删除的数据！",{icon:2,time:2000});
            return ;
        }
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'POST',
                url: "{:url('Active/delAll')}",
                dataType: 'json',
                data:{arr:arr},
                success: function(data){
                    console.log(data);
                    if(data.code ==1){
                        layer.msg(data.msg,{icon:6,time:2000});
                        setTimeout("location.replace(location.href)",2000);

                    }else{
                        layer.msg(data.msg,{icon:5,time:2000});
                    }
                },
                error:function(data) {
                    layer.msg("服务器内部错误，请稍后再试",{icon:2,time:2000});
                },
            });
        });
    })


$('.table-sort').dataTable({
	"aaSorting": [[ 1, "id" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"pading":false,
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,2,3,4,5,6,7,8,10,11,12,13]}// 不参与排序的列
	]
});



/*资讯-删除*/
function del(obj,id){
	layer.confirm('确认要删除吗？',function(index){

		$.ajax({
			type: 'POST',
			url: "{:url('Active/del')}",
			data:{id:id},
			dataType: 'json',
			success: function(data){
			    console.log(data);
			    if (data.code==1){
                    $(obj).parents("tr").remove();
                    layer.msg(data.msg,{icon:6,time:2000});
				} else{
                    layer.msg(data.msg,{icon:5,time:2000});
				}
			},
			error:function(data) {
                layer.msg( '服务发生未知错误！',{icon:5,time:2000});
			},
		});		
	});
}
 /*资讯-下架*/
function  stop(obj,id){
    var id = $(obj).parents().attr('data-id');
    var status = $(obj).attr('data-status');
	layer.confirm('确认要下架吗？',function(index){
        $.ajax({
            type: 'POST',
            url: "{:url('Active/status')}",
            dataType: 'json',
            data:{id:id,status:status},
            success: function(data){
                console.log(data);
                if (data.code ==1){
                    $(obj).parents("tr").find(".td-status").html(' ');
                    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" data-status="0" onClick="start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
                    $(obj).remove();
                    layer.msg('已下架!',{icon: 5,time:1000});
                } else{
                    layer.msg(data.msg,{icon: 2,time:2000});
                }

            },
            error:function(data) {
                layer.msg('服务器发生错误，请稍后再试!',{icon: 2,time:2000});
            },
        });




	});
}

/*资讯-发布*/
function  start(obj,id){
    var id = $(obj).parents().attr('data-id');
    var status = $(obj).attr('data-status');
    layer.confirm('确认要发布吗？',function(index){
        $.ajax({
            type: 'POST',
            url: "{:url('Active/status')}",
            dataType: 'json',
            data:{id:id,status:status},
            success: function(data){
                console.log(data);
                if (data.code ==1){
                    $(obj).parents("tr").find(".td-status").html(' ');
                    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" data-status="1" onClick="stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                    $(obj).remove();
                    layer.msg(data.msg,{icon: 6,time:1000});
                } else{
                    layer.msg(data.msg,{icon: 2,time:2000});
                }
            },
            error:function(data) {
                layer.msg('服务器发生错误，请稍后再试!',{icon: 2,time:2000});
            },
        });



	});
}

</script> 
</body>
</html>