{include file="public/_meta"}

<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>基本设置</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	资讯管理
	<span class="c-gray en">&gt;</span>
	栏目添加
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<form class="form form-horizontal" id="form-article-add">
		<div id="tab-system" class="HuiTab">
			<div class="tabBar cl">
				<span>基本信息</span>
				<span>SEO信息</span>
				<span>栏目内容</span>

			</div>
			<div class="tabCon">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						所属模型：</label>
					<div class="formControls col-xs-8 col-sm-4"> <span class="select-box">
							<select class="select" size="1" name="model_id">
								<option value="" selected="">--请选择模型--</option>
								{volist name="modelName" id="vo"}
								  <option value="{$vo.id}" {{if condition="$currentIDRes['model_id'] eq $vo['id']"} selected{/if}>{$vo.model_name}</option>
							  {/volist}
							</select>
							</span> </div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						上级栏目：</label>
					     <div class="formControls col-xs-8 col-sm-4"> <span class="select-box">
							<select class="select" size="1" name="pid">
								<option value="0" selected="">---顶级栏目---</option>
								{volist name="cateNameRes" id="vo"}
								 <option value="{$vo.id}" {if condition="$id eq $vo['id']"} selected{/if} >{$vo.cate_name}</option>
								{/volist}
							</select>
							</span> </div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						栏目名称：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text"  name="cate_name" placeholder="请输入栏目名称" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">

						隐藏栏目：</label>
					<div class="formControls col-xs-8 col-sm-9">
					<div class="switch" data-on="success" data-off="warning">
						<input type="checkbox" checked value="1" name="status"/>
					</div>
					</div>
				</div>

				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">栏目图片：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<div class="uploader-thum-container">
							<div id="fileList" class="uploader-list"></div>
							<div id="filePicker">选择图片</div>
							<input type="hidden" name="thumb" id="thumb" >
							<input type="button"   data-class="content"  id="content_thumb" style="display: none; position: absolute; top: 0px; left:15px;"  class="btn btn-success " value="x">
						</div>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						栏目属性：</label>
                    <label class="ext_link " style="display: none;">外链地址：<input type="text" class="input-text " name="ext_link" value="http://" style="width: 32%"> </label>
					<div class="formControls col-xs-8 col-sm-4"> <span class="select-box">
							<select class="select select_attr" size="1" name="cate_attr">
								<option value="1"  selected>列表页栏目</option>
							 	<option value="2"  >封页面图片</option>
								<option value="3"  >外链栏目</option>

							</select>
							</span> </div>
				</div>

				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">列表页模板：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text"  name="list_tmp" placeholder="输入列表页模板" value="list.html" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">内容页模板：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text"   name="article_tmp" placeholder="输入内容页模板" value="content.html" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">频道页模板：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" name="channel_tmp"  placeholder=" 输入频道页模板" value="channel.html" class="input-text">
					</div>
				</div>
			</div>
			<!--SEO信息-->
			<div class="tabCon">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">栏目标题：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text"  name="title" placeholder="栏目标题"   class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">关键词：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text"  name="keywords" placeholder="关键词" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">描述：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<textarea  name="desc" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符"   dragonfly="true" nullmsg="备注不能为空！"  ></textarea>
						<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
					</div>
				</div>
			</div>
			<!--栏目内容-->
			<div class="tabCon">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">栏目内容：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<div id="editor"  name="content" style="width:100%;height:1000px;"></div>
                        </div>
                     </div>
			</div>

		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button   class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				&nbsp;&nbsp;&nbsp;<input  type="reset"  class="btn btn-warning radius" value=" 重置 "/>
			</div>
		</div>
	</form>
</div>

<!--_footer 作为公共模版分离出去-->
{include file="public/_footer"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__HUI__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__HUI__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__HUI__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__HUI__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__HUI__/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__HUI__/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__HUI__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__HUI__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    <!--隐藏外链连接地址-->
    $(".select_attr").change(function(){
       var value= $(this).val();
       if (value ==3){
           $(".ext_link").show();
       } else{
           $(".ext_link").hide();
       }
    });
	var src;
    $(function(){
        //计算输入textarea的字数
        $(".textarea").Huitextarealength({
            minlength:0,
            maxlength:200
        });
  /* $("input[name='ext_link']").hide();
    $(".show_ext_link").click(function(){
        $("input[name='ext_link']").show();
    });*/

        $("#form-article-add").validate({
            rules:{
                cate_name:{
                    required:true,
                }
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    type: 'post',
                     url: "{:url('Cate/add')}" ,
                    success: function(data){
                        console.log(data);

                       if (data.code==1){
                        layer.msg( data.msg,{icon:6,time:1000});
					   } else{
                           layer.msg( data.msg,{icon:5,time:1000});
					   }
                    }, error:function(data) {
                        layer.msg("服务器内部错误，请稍后再试",{icon:2,time:2000});
                    },
                });

                var index = parent.layer.getFrameIndex(window.name);
                parent.$('.btn-refresh').click();
                parent.layer.close(index);
            }
        });

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        $("#tab-system").Huitab({
            index:0
        });
        var ue = UE.getEditor('editor');
    });
    // 文件上传js
       $list = $("#fileList"),
        $btn = $("#btn-star"),
        state = "pending",
        uploader;

    var uploader = WebUploader.create({
        auto: true,
        swf: '__HUI__/lib/webuploader/0.1.5/Uploader.swf',
        // 文件接收服务端。
        server: "{:url('Cate/uploads')}",

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',

        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
        resize: false,
        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        },
        fileNumLimit:1,
        // 禁掉全局的拖拽功能。这样不会出现图片拖进页面的时候，把图片打开。
        disableGlobalDnd: true,
        fileSizeLimit: 200 * 1024 * 1024,    // 200 M
        fileSingleSizeLimit: 50 * 1024 * 1024    // 50 M

    });
    /*
        * 当某个文件上传到服务端响应后，会派送此事件来询问服务端响应是否有效。
        * 如果此事件handler返回值为false, 则此文件将派送server类型的uploadError事件。
        * */
    uploader.on('uploadAccept',function(object,ret){
        $("#content_thumb").show();
        console.log(ret);
        if(ret.code=='1'){
            src = ret.src;
            $("#thumb").val(ret.src);
            $('.pic-box').html('<img  width="200px" src ="'+'__IMG__'+ret.src+ '">' );

        }
    });
    uploader.on('uploadError',function(object,ret){

        console.log('服务器异常');
    } );

    uploader.on( 'fileQueued', function( file ) {

        var $li = $(
            '<div style="width: 100px" id="' + file.id + '" class="item">' +
            '<div class="pic-box" ><img></div>'+
            '<div class="info">' + file.name + '</div>' +
            '<p class="state">等待上传...</p>'+
            '</div>'
            ),
            $img = $li.find('img');
        $list.append( $li );

        // 创建缩略图
        // 如果为非图片文件，可以不用调用此方法。
        // thumbnailWidth x thumbnailHeight 为 100 x 100
        uploader.makeThumb( file, function( error, src ) {
            if ( error ) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr( 'src', src );
        }, thumbnailWidth=100, thumbnailHeight=100 );
    });
    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#'+file.id ),
            $percent = $li.find('.progress-box .sr-only');

        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<div class="progress-box"><span class="progress-bar radius"><span class="sr-only" style="width:0%"></span></span></div>').appendTo( $li ).find('.sr-only');
        }
        $li.find(".state").text("上传中");
        $percent.css( 'width', percentage * 100 + '%' );
    });

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on( 'uploadSuccess', function( file ) {
        $( '#'+file.id ).addClass('upload-state-success').find(".state").text("已上传");
    });

    // 文件上传失败，显示上传出错。
    uploader.on( 'uploadError', function( file ) {
        $( '#'+file.id ).addClass('upload-state-error').find(".state").text("上传出错");
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress-box').fadeOut();
    });
    uploader.on('all', function (type) {
        if (type === 'startUpload') {
            state = 'uploading';
        } else if (type === 'stopUpload') {
            state = 'paused';
        } else if (type === 'uploadFinished') {
            state = 'done';
        }

        if (state === 'uploading') {
            $btn.text('暂停上传');
        } else {
            $btn.text('开始上传');
        }
    });

    $btn.on('click', function () {
        if (state === 'uploading') {
            uploader.stop();
        } else {
            uploader.upload();
        }
    });

    $("#content_thumb").click(function () {
        var src =   $("#thumb").val();

        $.ajax({
            type: "POST",
            url: "{:url('Cate/delImage')}",
            data: {src:src},
            success: function(data){
                if (data.code==1){
                    layer.msg( data.msg,{icon:6,time:1000});
                   setTimeout("window.location.replace(location.href)",1000);
				}else{
                    layer.msg( data.msg,{icon:5,time:1000});
				}

            }, error:function(data) {
                layer.msg("服务器内部错误，请稍后再试",{icon:2,time:2000});
            },
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
